.swn
.swo
.swp
.svn
.htaccess
*.tmp
*.log.*
.svn*
ntuple_server/myroot
ntuple_server/ntuple-server
ntuple_server/ntuple-server.tmproj
server/*.root
server/backups/
server/lastecho.dat
server/live_event_cache/
server/live_last_update.stamp

